@import 'normalize';

html {
  width:          35rem;
  margin:         0 auto;
  padding:        2rem;
  font-size:      1.1em;
  color:          #383b3f;
  font-family:    Palatino, "Palatino Linotype", Times, serif;
}

hr {
  margin:       2rem 1.5rem;
  border:       0;
  border-top:   1px solid #eee;
  text-align:   center;
  line-height:  1px;
}

h1, h2, h3, h4, h5, h6 {
  font-style:  italic;
  font-weight: 500;
  line-height: 1.1;
}

header {
  flex-wrap:   wrap;
  display:     flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 { font-size: 150%; }
h2 { font-size: 117%; }
h3 { font-size: 100%; }
h4 { font-size:  83%; }
h5 { font-size:  67%; }

a {
  color:           #337ab7;
  text-decoration: none;
}

a:hover {
  color:           #23527c;
  text-decoration: underline;
}

pre, code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size:   0.9em;
}

code {
  background-color: lightgrey;
}

pre {
  display:          block;
  padding:          9.5px;
  margin:           0 0 10px;
  font-size:        80%;
  line-height:      1.42857143;
  color:            #333;
  word-break:       break-all;
  word-wrap:        break-word;
  background-color: #f5f5f5;
  border:           1px solid #ccc;
  border-radius:    4px;
}

.title {
  font-variant: small-caps;
}

.center {
  text-align: center;
}

.tags {
  margin-left: auto;
}

.tag {
  font-variant: small-caps;
  font-style:   italic;
  font-size:    0.9em;
}

.links {
  font-variant:    small-caps;
  margin:          0 -0.25em;
}

.links > a, .links > span {
  margin: 0 0.25em;
}

.links > span {
  margin-right: auto;
}

@media only screen and (max-width: 40rem) {
  html {
    width:     calc(100vw - 5rem);
    font-size: 1em;
  }

  .spacer {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    width: calc(320px - 5rem);
  }
}
